<div class="container">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Function</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in persons">
                <td>{{person.name | uppercase}}</td>
                <td>{{person.job}}</td>
            </tr>
        </tbody>
    </table>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow" ng-repeat="person in persons">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{person.name | uppercase}}</h1>
                <h6 class="my-0 font-weight-normal">{{person.job}}</h6>
            </div>
        </div>
        
        
    </div>

    <code>{{persons}}</code>
</div>